.dashboard-layout {
  display: block;
  min-height: calc(100vh - 80px);
}

.dashboard-main h2 {
  color: #00C4EE;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.dashboard-main {
  flex: 1;
  padding: 2rem;
}
